  <header>
    <p>
      <mat-toolbar color="primary">
        <span>Blood Glucose App</span>
        <span class="espacamento-toolbar"></span>
        <div class="button-row">
          <a mat-button href="/newuser">Novo Usuário</a>
          <a mat-button href="/about" target="_blank">Sobre</a>
        </div>
        <span class="espacamento-toolbar"></span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
    </p>
  </header>
  <mat-card-content>
    <router-outlet/>
  </mat-card-content>
  <footer>
    <div class="footer">
      <nav>
        <a href="https://github.com/herminioaureo/"><p>Desenvolvido por herminioaureo</p></a>
      </nav>
    </div>
  </footer>
